/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1800px) {
    .menu {
        gap: 26px;
    }
    .menu > li > a {
        padding: 11px;
    }
    body {
        font-size: 14px;
    }
    .logo img {
        width: 218px;
    }
    .logo-descr {
        width: 238px;
    }
    .header__contacts {
        gap: 32px;
    }
    .header .btn-main {
        height: 46px;
        padding: 0 21px;
        font-size: 13px;
    }
    .sidebar {
        width: 145px;
    }
    .wrapper {
        padding-left: 145px;
    }
    .header__top {
        margin-left: -145px;
    }
    .sidebar__btn img {
        max-width: 32px;
    }
    .title-section {
        font-size: 38px;
    }
    .billbord .title-section {
        margin-top: 52px;
        margin-bottom: 27px;
    }
    .billbord__image img {
        max-width: 715px;
    }
    .title-section strong {
        font-size: 44px;
        margin-right: 22px;
    }
    .title-middle {
        font-size: 22px;
    }
    .billbord .title-middle {
        max-width: 528px;
        margin-bottom: 12px;
    }
    .billbord__buttons {
        gap: 18px;
    }
    .circle-badge {
        width: 200px;
        height: 200px;
    }
    .btn-main {
        height: 50px;
        padding: 0 30px;
        font-size: 15px;
    }
    .billbord {
        padding-bottom: 15px;
    }
    .about .title-section {
        max-width: 792px;
    }
    .about__content {
        margin-right: 30px;
    }
    .about ol {
        font-size: 16px;
    }
    .about__image {
        height: 595px;
        margin-left: -30px;
    }
    .consultation, .clients, .advantages, .categories {
        padding-top: 85px;
    }
    .advantages .title-section, .categories .title-section {
        margin-bottom: 33px;
    }
    .item-category {
        font-size: 21px;
        padding: 22px;
        padding-bottom: 8px;
    }
    .item-category__image {
        height: 337px;
    }
    .item-advantage__content {
        padding: 21px;
        padding-top: 12px;
        font-size: 16px;
    }
    .item-advantage__head {
        padding: 18px;
        padding-bottom: 16px;
        gap: 22px;
    }
    .item-advantage__icon {
        width: 34px;
        height: 34px;
    }
    .unit-advantage__value {
        font-size: 42px;
    }
    .unit-advantage__title {
        font-size: 22px;
        margin-bottom: 12px;
    }
    .unit-advantage:nth-child(1) {
        left: 284px;
    }
    .unit-advantage {
        max-width: 283px;
        font-size: 16px;
    }
    .unit-advantage:nth-child(2) {
        top: 315px;
        left: 2px;
    }
    .item-client {
        height: 180px;
    }
    .consultation__block {
        padding: 52px;
        padding-left: 65px;
    }
    .consultation__title {
        font-size: 44px;
    }
    .consultation__descr {
        font-size: 36px;
        margin-bottom: 16px;
    }
    .consultation__text {
        font-size: 18px;
        margin-bottom: 32px;
    }
    .consultation__content {
        margin-left: 20px;
        max-width: 653px;
    }
    .consultation__content .row > div {
        padding: 0 12px;
    }
    .consultation__content .row {
        margin: 0 -12px;
    }
    .checkbox {
        font-size: 12px;
    }
    .file-upload, .item-form {
        margin-bottom: 23px;
    }
    .footer__nav_main {
        margin-left: -40px;
    }
    .footer__nav li {
        font-size: 18px;
    }
    .footer-bottom {
        margin-top: 42px;
        font-size: 13px;
    }
    .about ol ol li::before {
        min-width: 36px;
    }
    .row.row_contacts .row > div,
    .row.row_contacts > div {
        padding: 0 15px;
    }
    .row.row_contacts .row,
    .row.row_contacts {
        margin: 0 -15px;
    }
    .unit-contacts__content {
        padding: 28px 22px;
        min-height: 184px;
        font-size: 16px;
    }
    .unit-contacts {
        margin-bottom: 30px;
    }
    .unit-contacts__head {
        font-size: 22px;
        gap: 14px;
        padding: 21px;
        padding-bottom: 17px;
    }
    .form-page {
        padding: 27px 68px;
    }
    .title-form {
        font-size: 28px;
    }
    .descr-form {
        font-size: 16px;
    }
    .form-page .btn-main {
        margin-top: 16px;
    }
    .form-page .item-form {
        margin-bottom: 14px;
    }
    .map-wrap {
        padding: 100px 0;
    }
    .row.row_news > div {
        padding: 0 37px;
        margin-bottom: 37px;
    }
    .row.row_news {
        margin: 0 -37px;
        margin-bottom: -37px;
    }
    .item-news__title {
        font-size: 22px;
    }
    .item-news__image {
        height: 255px;
    }
    .page-news .title-section {
        margin-bottom: 30px;
    }
    .pager {
        height: 54px;
        margin-top: 48px;
        gap: 31px;
        max-width: 405px;
    }
    .prev.page-numbers, .next.page-numbers {
        height: 54px;
        width: 54px;
        font-size: 18px;
    }
    .page-numbers {
        font-size: 16px;
    }
    .page-news {
        padding-top: 36px;
        padding-bottom: 90px;
    }
    .title-page {
        font-size: 34px;
    }
    .page-article .title-section {
        margin-bottom: 29px;
    }
    .page-error {
        padding-top: 160px;
        padding-bottom: 200px;
    }
    .error-content {
        max-width: 378px;
    }
    .thanks-content .title-section,
    .error-content .title-section {
        font-size: 34px;
    }
    .thanks-content .btn-main,
    .error-content .btn-main {
        margin-top: 65px;
        padding: 0 40px;
    }
    .thanks-content {
        width: 432px;
        margin-left: 60px;
        padding: 85px 43px;
        padding-bottom: 95px;
    }
    .page-thanks {
        padding: 90px 0;
    }
    .row.row_page > div {
        padding: 0 10px;
        margin-bottom: 20px;
    }
    .row.row_page {
        margin: 0 -10px;
        margin-bottom: -20px;
    }
    .item-service__image {
        height: 245px;
        margin-bottom: 18px;
    }
    .item-service__title {
        font-size: 22px;
        margin-bottom: 18px;
    }
    .item-about__content {
        padding: 18px;
        padding-top: 12px;
    }
    .item-about__info {
        font-size: 23px;
        width: 38%;
        padding: 20px;
    }
    .item-about__value {
        font-size: 42px;
        margin-bottom: 4px;
    }
    .image-about {
        height: 365px;
    }
    .page-about {
        padding-bottom: 100px;
    }
}

@media only screen and (max-width : 1600px) {
    .sidebar {
        width: 135px;
    }
    .wrapper {
        padding-left: 135px;
    }
    .header__top {
        margin-left: -135px;
    }
    .menu {
        gap: 18px;
    }
    .menu > li > a {
        padding: 9px;
    }
    body {
        font-size: 13px;
    }
    .circle-badge {
        width: 170px;
        height: 170px;
    }
    .circle-badge img {
        max-width: 80px;
    }
    .title-section {
        font-size: 33px;
    }
    .title-section strong {
        font-size: 38px;
        margin-right: 14px;
    }
    .btn-main {
        height: 48px;
        padding: 0 28px;
        font-size: 14px;
    }
    .title-middle {
        font-size: 20px;
    }
    .billbord .title-middle {
        max-width: 500px;
        margin-bottom: 2px;
    }
    .billbord__image img {
        max-width: 620px;
    }
    .item-marquee {
        padding: 0px 28px;
        font-size: 13px;
    }
    .about .title-section {
        max-width: 700px;
    }
    .about ol {
        font-size: 14px;
    }
    .about__image {
        height: 520px;
    }
    .advantages .title-section, .categories .title-section {
        margin-bottom: 28px;
    }
    .consultation, .clients, .advantages, .categories {
        padding-top: 65px;
    }
    .row > div {
        padding: 0 8px;
    }
    .row {
        margin: 0 -8px;
    }
    .row.row_main > div {
        margin-bottom: 16px;
    }
    .row.row_main {
        margin-bottom: -16px;
    }
    .item-category {
        font-size: 18px;
        padding: 20px;
        padding-bottom: 9px;
    }
    .item-category__image {
        height: 283px;
    }
    .item-category::before {
        top: 8px;
        right: 8px;
        width: 33px;
        height: 33px;
    }
    .unit-advantage:nth-child(1) {
        left: 229px;
    }
    .unit-advantage:nth-child(2) {
        top: 260px;
        left: 0px;
    }
    .unit-advantage__value {
        font-size: 35px;
        margin: 0;
    }
    .unit-advantage__title {
        font-size: 19px;
        margin-bottom: 10px;
    }
    .unit-advantage {
        max-width: 244px;
        font-size: 14px;
    }
    .row.row_advantages > div {
        padding: 0 8px;
        margin-bottom: 18px;
    }
    .row.row_advantages {
        margin: 0 -8px;
        margin-bottom: -18px;
    }
    .item-advantage__head {
        padding: 15px;
        padding-bottom: 13px;
        gap: 18px;
    }
    .item-advantage__content {
        padding: 20px;
        padding-top: 10px;
        font-size: 14px;
    }
    .head-section {
        padding: 28px 42px;
        margin-bottom: 35px;
    }
    .slick-arrow {
        width: 50px;
        height: 50px;
        font-size: 17px;
    }
    .slick-prev {
        left: -25px;
    }
    .slick-next {
        right: -25px;
    }
    .item-client {
        height: 153px;
    }
    .consultation__block {
        padding: 40px;
        padding-left: 45px;
    }
    .consultation__descr {
        font-size: 33px;
        margin-bottom: 12px;
    }
    .consultation__title {
        font-size: 39px;
        margin-bottom: 5px;
    }
    .consultation__text {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .checkbox {
        font-size: 11px;
    }
    .file-upload, .item-form {
        margin-bottom: 17px;
    }
    .consultation {
        padding-bottom: 80px;
    }
    .footer .phones-list {
        font-size: 21px;
    }
    .contact-footer {
        padding-left: 36px;
        width: 273px;
    }
    .contact-footer__icon {
        width: 21px;
        height: 21px;
    }
    .footer__nav li {
        font-size: 16px;
    }
    .footer-bottom {
        margin-top: 36px;
        font-size: 12px;
    }
    .sidebar__btn img {
        max-width: 29px;
    }
    .logo-wrap {
        gap: 30px;
    }
    .form-page {
        padding: 27px 50px;
    }
    .title-form {
        font-size: 26px;
        margin-bottom: 10px;
    }
    .descr-form {
        font-size: 15px;
    } 
    .unit-contacts__content {
        padding: 24px 20px;
        min-height: 170px;
        font-size: 15px;
    }
    .form-page .btn-main {
        margin-top: 10px;
    }
    .form-page .item-form {
        margin-bottom: 11px;
    }
    .page-contacts {
        padding-top: 35px;
        padding-bottom: 58px;
    }
    .unit-contacts__head {
        font-size: 20px;
    }
    .row.row_news > div {
        padding: 0 30px;
        margin-bottom: 30px;
    }
    .row.row_news {
        margin: 0 -30px;
        margin-bottom: -30px;
    }
    .item-news__title {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .item-news__image {
        height: 225px;
    }
    .pager {
        height: 48px;
        margin-top: 48px;
        gap: 31px;
        max-width: 350px;
    }
    .prev.page-numbers, .next.page-numbers {
        height: 48px;
        width: 48px;
        font-size: 17px;
    }
    .page-numbers {
        font-size: 15px;
    }
    .page-news {
        padding-top: 34px;
        padding-bottom: 70px;
    }
    .title-page {
        font-size: 31px;
    }
    .article-content img {
        margin: 30px 0;
    }
    .article-content h2 {
        font-size: 19px;
        margin-top: 28px;
        margin-bottom: 15px;
    }
    .article-content ul, .article-content p {
        margin-bottom: 15px;
    }
    .article-sidebar {
        margin-left: 35px;
    }
    .article-content {
        margin-right: -20px;
    }
    .page-article {
        padding-bottom: 85px;
    }
    .error-content {
        max-width: 343px;
    }
    .thanks-content .title-middle {
        font-size: 18px;
        max-width: 290px;
    }
    .thanks-content {
        width: 410px;
        margin-left: 40px;
        padding: 75px 40px;
        padding-bottom: 83px;
    }
    .row.row_page > div {
        padding: 0 8px;
        margin-bottom: 18px;
    }
    .row.row_page {
        margin: 0 -8px;
        margin-bottom: -18px;
    }
    .item-service__title {
        font-size: 21px;
    }
    .item-service {
        padding: 20px;
        padding-bottom: 22px;
    }
    .item-service__image {
        height: 220px;
    }
    .slider-sertificats .slick-slide {
        padding: 0 5px;
        height: inherit !important;
    }
    .slider-sertificats .slick-list {
        margin: 0 -5px;
    }
    .slider-sertificats {
        padding: 0 60px;
    }
    .page-about .article-content {
        padding-top: 17px;
    }
    .item-about {
        font-size: 15px;
    }
    .item-about__info {
        font-size: 21px;
        width: 39%;
        padding: 18px;
    }
    .item-about__value {
        font-size: 36px;
    }
    .image-about {
        height: 335px;
    }
    .item-about__content {
        padding: 15px;
        padding-top: 8px;
    }
    .image-about {
        height: 318px;
    }
    .page-about .title-page {
        margin-bottom: 28px;
    }
    .about-wrap .title-page {
        margin-bottom: 25px;
    }
}
@media only screen and (max-width : 1400px) {
    .menu {
        gap: 6px;
    }
    body {
        font-size: 12px;
    }
    .menu > li > a {
        padding: 5px;
    }
    .logo img {
        width: 185px;
    }
    .logo-wrap {
        gap: 20px;
    }
    .title-section {
        font-size: 28px;
    }
    .title-section strong {
        font-size: 31px;
    }
    .circle-badge {
        width: 150px;
        height: 150px;
    }
    .circle-badge img {
        max-width: 64px;
    }
    .billbord__buttons {
        gap: 10px;
    }
    .billbord__buttons .btn-main {
        padding: 0 20px;
    }
    .btn-main {
        height: 45px;
        padding: 0 25px;
        font-size: 13px;
    }
    .billbord .title-section {
        margin-top: 35px;
        margin-bottom: 15px;
    }
    .title-middle {
        font-size: 18px;
    }
    .billbord__image img {
        max-width: 527px;
    }
    .about .title-section {
        max-width: 593px;
    }
    .about ol {
        font-size: 13px;
    }
    .about__content {
        margin-right: 20px;
    }
    .about__image {
        height: 490px;
    }
    .item-category__image {
        height: 245px;
    }
    .item-category {
        font-size: 16px;
        padding: 18px;
        padding-bottom: 9px;
    }
    .item-advantage__head {
        padding: 12px;
        padding-bottom: 10px;
        gap: 10px;
    }
    .unit-advantage:nth-child(1) {
        left: 184px;
    }
    .unit-advantage:nth-child(2) {
        top: 225px;
    }
    .item-client {
        height: 140px;
    }
    .consultation__descr {
        font-size: 27px;
    }
    .consultation__title {
        font-size: 35px;
    }
    .footer__nav li {
        font-size: 14px;
    }
    .footer .phones-list {
        font-size: 18px;
    }
    .contact-footer {
        width: 238px;
    }
    .consultation__content {
        margin-left: 0;
    }
    .item-form input {
        height: 48px;
        font-size: 14px;
    }
    .file-upload, .item-form {
        margin-bottom: 12px;
    }
    .row.row_contacts .row > div,
    .row.row_contacts > div {
        padding: 0 10px;
    }
    .row.row_contacts .row,
    .row.row_contacts { 
        margin: 0 -10px;
    }
    .unit-contacts {
        margin-bottom: 20px;
    }
    .page-contacts .form-page {
        margin-left: 50px;
    }
    .contacts-content {
        margin-right: -50px;
    }
    .form-page {
        padding: 27px 36px;
    }
    .title-form {
        font-size: 23px;
        margin-bottom: 9px;
    }
    .unit-contacts__head {
        font-size: 18px;
    }
    .unit-contacts__head img {
        max-height: 20px;
    }
    .unit-contacts__item {
        margin-bottom: 17px;
    }
    .unit-contacts__content {
        min-height: 165px;
    }
    .row.row_news > div {
        padding: 0 20px;
        margin-bottom: 20px;
    }
    .row.row_news {
        margin: 0 -20px;
        margin-bottom: -20px;
    }
    .item-news__title {
        font-size: 18px;
    }
    .item-news__image {
        height: 200px;
    }
    .pager {
        height: 42px;
        margin-top: 42px;
        gap: 28px;
        max-width: 300px;
    }
    .prev.page-numbers, .next.page-numbers {
        height: 42px;
        width: 42px;
        font-size: 16px;
    }
    .page-numbers {
        font-size: 14px;
    }
    .page-news .title-section {
        margin-bottom: 23px;
    }
    .article-content h2 {
        font-size: 18px;
        margin-top: 25px;
    }
    .article-content {
        margin-right: -15px;
    }
    .article-sidebar {
        margin-left: 25px;
    }
    .page-error {
        padding-top: 130px;
        padding-bottom: 150px;
    }
    .thanks-content .btn-main,
    .error-content .btn-main {
        margin-top: 50px;
    }
    .error-content {
        max-width: 310px;
    }
    .item-service__title {
        font-size: 19px;
    }
    .item-service__image {
        height: 195px;
    }
    .item-about {
        font-size: 13px;
    }
    .item-about__info {
        font-size: 19px;
    }
    .image-about {
        height: 305px;
    }
    .slider-sertificats {
        margin-left: 30px;
    }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    body {
        font-size: 11px;
    }
    .sidebar {
        width: 120px;
        top: 35px;
    }
    .wrapper {
        padding-left: 120px;
    }
    .header__top {
        margin-left: -120px;
    }
    .logo-descr {
        width: 205px;
    }
    .menu {
        gap: 2px;
    }
    .menu br {
        display: none;
    }
    .logo img {
        width: 160px;
    }
    .title-section {
        font-size: 23px;
    }
    .title-section strong {
        font-size: 25px;
    }
    .billbord__image img {
        max-width: 448px;
    }
    .about .title-section {
        max-width: 485px;
    }
    .item-category {
        font-size: 14px;
    }
    .item-category__image {
        height: 220px;
    }
    .item-category::before {
        top: 5px;
        right: 5px;
        width: 26px;
        height: 26px;
    }
    .unit-advantage__value {
        font-size: 29px;
    }
    .unit-advantage__title {
        font-size: 16px;
        margin-bottom: 7px;
    }
    .unit-advantage:nth-child(1) {
        left: 154px;
    }
    .unit-advantage {
        max-width: 205px;
        font-size: 13px;
    }
    .unit-advantage:nth-child(2) {
        top: 188px;
    }
    .item-client {
        height: 110px;
    }
    .slick-arrow {
        width: 40px;
        height: 40px;
        font-size: 15px;
    }
    .slick-prev {
        left: -20px;
    }
    .slick-next {
        right: -20px;
    }
    .consultation__descr {
        font-size: 23px;
    }
    .consultation__text {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .consultation__image {
        height: 370px;
    }
    .consultation__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: initial;
    }
    .footer .phones-list {
        font-size: 15px;
    }
    .contact-footer {
        padding-left: 25px;
    }
    .contact-footer {
        width: 196px;
    }
    .footer__nav li {
        font-size: 13px;
    }
    .footer-bottom {
        margin-top: 26px;
        font-size: 11px;
    }
    .item-marquee {
        padding: 0px 22px;
        font-size: 12px;
        height: 35px;
    }
    .unit-contacts__content {
        padding: 20px 15px;
        font-size: 14px;
        min-height: 172px;
    }
    .unit-contacts__head {
        font-size: 16px;
        padding: 17px;
        padding-bottom: 14px;
    }
    .form-page {
        padding: 25px;
    }
    .descr-form {
        font-size: 13px;
    }
    .title-form {
        font-size: 20px;
    }
    .unit-contacts__item {
        margin-bottom: 29px;
    }
    .map-wrap {
        padding: 80px 0;
    }
    .row.row_news > div {
        padding: 0 10px;
        margin-bottom: 25px;
    }
    .row.row_news {
        margin: 0 -10px;
        margin-bottom: -25px;
    }
    .item-news__title {
        font-size: 17px;
    }
    .item-news__image {
        height: 160px;
    }
    .pager {
        gap: 26px;
        max-width: 265px;
    }
    .title-page {
        font-size: 27px;
    }
    .page-article .title-section {
        margin-bottom: 25px;
    }
    .page-article .item-news {
        margin-bottom: 23px;
    }
    .thanks-content {
        width: 385px;
        margin-left: 0;
        padding: 70px 30px;
        padding-bottom: 75px;
    }
    .thanks-content .title-section {
        font-size: 32px;
    }
    .item-service {
        padding: 12px;
        padding-bottom: 16px;
    }
    .item-service__title {
        font-size: 17px;
        margin-bottom: 12px;
    }
    .item-service__image {
        height: 175px;
        margin-bottom: 15px;
    }
    .page-services .title-page {
        margin-bottom: 27px;
    }
    .item-about {
        font-size: 12px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .sidebar {
        bottom: 0;
        top: auto !important;
        left: 0;
        right: 0;
        width: 100%;
        flex-direction: row;
        z-index: 100;
        border: none;
    }
    .sidebar__item {
        height: 50px;
        border: none;
        border-right: 1px solid #919191;
    }
    .sidebar__btn img {
        max-width: 23px;
    }
    .wrapper {
        padding-top: 102px;
        padding-left: 0;
    }
    .header__top {
        margin: 0;
    }
    .header__wrapper .header__contacts,
    .header .logo-descr,
    .menu {
        display: none;
    }
    body {
        font-size: 14px;
    }
    .circle-badge {
        display: none;
    }
    .billbord .title-middle {
        margin-bottom: 15px;
    }
    .title-section strong {
        margin-right: 6px;
    }
    .billbord__image img {
        max-width: 100%;
    }
    .about .title-section {
        margin-bottom: 25px;
    }
    .about__content {
        margin-right: 0;
    }
    .about ol {
        font-size: 15px;
        padding-left: 0;
    }
    .about__image {
        height: 300px;
        padding: 15px;
        margin: 0;
        margin-top: 25px;
    }
    .consultation, .clients, .advantages, .categories {
        padding-top: 45px;
    }
    .advantages .title-section, .categories .title-section {
        margin-bottom: 22px;
    }
    .item-category {
        font-size: 16px;
    }
    .item-category::before {
        top: 10px;
        right: 10px;
    }
    .advantages__main {
        margin-left: 0;
    }
    .unit-advantage:nth-child(2) {
        top: 240px;
    }
    .unit-advantage:nth-child(1) {
        left: 207px;
    }
    .advantages__content {
        max-width: 333px;
        margin: 0 auto;
        margin-bottom: 90px;
    }
    .head-section {
        padding: 20px 25px;
    }
    .item-client {
        height: 95px;
    }
    .slick-prev {
        left: -10px;
    }
    .slick-next {
        right: -10px;
    }
    .slider-clients {
        border: 1px solid #919191;
    }
    .consultation__block {
        padding: 20px 15px;
    }
    .consultation__image {
        margin-bottom: 25px;
        height: auto;
    }
    .consultation__image img {
        height: auto;
        object-fit: initial;
    }
    .consultation__title {
        font-size: 25px;
        margin-bottom: 12px;
    }
    .consultation__descr {
        font-size: 17px;
    }
    .consultation__text {
        margin-bottom: 15px;
    }
    .file-upload, .item-form {
        margin-bottom: 18px;
    }
    .consultation__content .btn-main {
        margin-top: 25px;
    }
    .checkbox {
        font-size: 12px;
        justify-content: center;
    }
    .consultation {
        padding-bottom: 55px;
    }
    .footer .phones-list {
        font-size: 14px;
    }
    .contact-footer {
        width: auto;
    }
    .footer__nav li {
        font-size: 15px;
    }
    .footer__nav_main {
        margin-left: -30px;
    }
    .contact-footer {
        width: 270px;
    }
    .footer__contacts .contact-footer {
        margin-bottom: 15px;
    }
    .footer .row > div {
        margin-bottom: 20px;
    }
    .footer .row {
        margin-bottom: -20px;
    }
    .footer-bottom {
        font-size: 13px;
        padding-bottom: 60px;
    }
    .create {
        margin-left: 0;
    }
    .btn_top {
        margin-top: -50px;
    }
    .footer__top .contact-footer {
        width: auto;
    }
    .footer__contacts .contact-footer {
        margin-left: 0;
    }
    .contact-footer {
        padding-left: 32px;
    }
    .logo img {
        width: 145px;
    }
    .footer__top {
        padding-top: 18px;
    }
    .btn-main {
        font-size: 14px;
    }
    .billbord__buttons .btn-main {
        flex-grow: 1;
        padding: 0 5px;
    }
    .about {
        padding-top: 38px;
    }
    .sandwich {
        display: flex;
    }
    .header__wrapper {
        justify-content: space-between;
    }
    .logo-wrap {
        margin-right: 0;
        gap: 0;
    }
    .phone-mobile {
        width: 43px;
        height: 43px;
        font-size: 16px;
        background: #295fa9;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 800;
    }
    .header__top {
        transition: all 0.3s;
    }
    .header.fixed .header__top {
        margin-top: -35px;
    }
    .menu-mobile {
        width: 100%;
        top: 100%;
        left: 0;
        max-height: 100vh;
        padding: 15px 15px;
        padding-bottom: 80px;
        color: #2d2d2d;
        display: none;
        overflow: auto;
        background: #d9d9d9;
        position: absolute;
      }
      .menu-mobile .menu {
        margin-bottom: 25px;
        display: block;
      }
      .menu > li > a {
        margin: 0;
        padding: 15px 0;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        border-radius: 0;
        text-align: left;
        text-transform: uppercase;
        border-radius: 0;
    }
    .menu-overlay {
        top: 126px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        z-index: -1;
        display: none;
    }
    .no-scroll {
        overflow: hidden;
    }
    .billbord .title-section {
        font-size: 25px;
    }
    .title-section strong {
        font-size: 28px;
    }
    .contacts-content {
        margin: 0;
    }
    .page-contacts .title-section {
        margin-bottom: 22px;
    }
    .unit-contacts__item {
        margin-bottom: 20px;
    }
    .page-contacts .form-page {
        margin-left: 0;
        margin-top: 20px;
    }
    .descr-form {
        font-size: 14px;
        max-width: 260px;
        margin-bottom: 8px;
        margin-left: auto;
        margin-right: auto;
    }
    .title-form {
        font-size: 21px;
    }
    .map-wrap {
        padding: 55px 0;
    }
    #map {
        height: 380px;
    }
    .item-news__image {
        height: 200px;
    }
    .item-news__image {
        height: 200px;
    }
    .pager {
        gap: 33px;
        max-width: 100%;
    }
    .breadcrumbs {
        display: block;
    }
    .breadcrumbs li {
        display: inline;
    }
    .article-content h2 {
        font-size: 17px;
        margin-top: 20px;
    }
    .article-content img {
        margin: 25px 0;
    }
    .article-content {
        margin: 0;
    }
    .article-sidebar {
        padding-top: 20px;
        margin: 0;
    }
    .page-article {
        padding-bottom: 62px;
    }
    .page-error {
        padding-top: 70px;
        padding-bottom: 125px;
        background-position: left center;
    }
    .image-error img {
        max-width: 100%;
        margin-bottom: 20px;
        height: auto;
    }
    .thanks-content .title-section {
        font-size: 28px;
    }
    .thanks-content .title-middle {
        font-size: 16px;
        max-width: 258px;
    }
    .page-thanks {
        padding: 75px 0;
        background-position: center left;
    }
    .item-service {
        padding: 15px;
    }
    .item-service__image {
        height: 200px;
    }
    .item-service__title {
        font-size: 19px;
    }
    .about-content {
        margin-right: 0;
    }
    .item-about {
        font-size: 14px;
        display: block;
    }
    .item-about__info {
        width: 100%;
    }
    .item-about__content {
        padding: 18px;
    }
    .image-about {
        height: 260px;
        margin: 0;
        margin-top: 25px;
    }
    .page-about .article-content {
        padding: 0;
    }
    .about-wrap {
        padding-top: 25px;
    }
    .slider-sertificats {
        padding: 0 15px;
        margin: 0;
    }
    .page-about {
        padding-bottom: 70px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .container {
        max-width: 860px;
    }
    .show-mob,
    .menu-overlay,
    .menu-mobile,
    .phone-mobile {
        display: none !important;
    }
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .container {
        max-width: 1020px;
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1200px;
    }
}
@media (min-width: 1600px) {
    .container {
        max-width: 1390px;
    }
}
@media (min-width: 1800px) {
	.container {
    max-width: 1590px;
}
}

@media (hover: hover) {
    .btn-main:hover {
        background: #7e7e7e;
    }
    .menu > li > a:hover {
        color: #fff;
        background: #3674B9;
    }
    .sidebar__btn:hover {
        background: #3674b9;
    }
    .sidebar__btn:hover img {
        filter: brightness(0) invert(1);
    }
    .btn-main.btn-main_page:hover {
        background: #7e7e7e;
    }
    .item-category:hover {
        background: #295fa9;
    }
    .prev.page-numbers:hover,
    .next.page-numbers:hover,
    .slick-arrow:hover {
        background: #22548f;
        color: #fff;
    }
    .footer__nav a:hover {
        border-color: #2d2d2d;
    }
    .footer-bottom a:hover {
        color: #000;
    }
    .btn_top:hover {
        background: #295fa9;
    }
}

@media (hover: none) {
    .btn-main:active {
        background: #7e7e7e;
    }
    .menu > li > a:active {
        color: #fff;
        background: #3674B9;
    }
    .sidebar__btn:active {
        background: #3674b9;
    }
    .sidebar__btn:active img {
        filter: brightness(0) invert(1);
    }
    .btn-main.btn-main_page:active {
        background: #7e7e7e;
    }
    .item-category:active {
        background: #295fa9;
    }
    .prev.page-numbers:hover,
    .next.page-numbers:hover,
    .slick-arrow:active {
        background: #22548f;
        color: #fff;
    }
    .footer__nav a:active {
        border-color: #2d2d2d;
    }
    .footer-bottom a:active {
        color: #000;
    }
    .btn_top:active {
        background: #295fa9;
    }
}